In [2]:
import os
# Create a new folder called 'Data'
os.mkdir('Data')

In [3]:
import pandas as pd
import numpy as np

In [4]:
pip install --upgrade pandas

Requirement already satisfied: pandas in c:\users\admin\anaconda3\envs\dojo-env\lib\site-packages (2.0.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\envs\dojo-env\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\admin\anaconda3\envs\dojo-env\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.20.3 in c:\users\admin\anaconda3\envs\dojo-env\lib\site-packages (from pandas) (1.23.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\anaconda3\envs\dojo-env\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\envs\dojo-env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [14]:
#Import Clinical Labs dataset
# Import Clinical Labs dataset
labs_path = 'Data/clinical_labs.csv'

labs = pd.read_csv(labs_path, low_memory=False)

In [15]:
labs.head()

,subject_id,year_in_study,test_group,test_name,test_value,test_units,ref_range_or_cutoff,notes,visit_date,vet_visit_type,lab
0,grls007MPNZZ,0,Clinical Chemistry,Total Protein,5.6,g/dL,5.0-7.4,NaN,2014-06,annual,antech
1,grls007MPNZZ,0,Clinical Chemistry,Albumin,3.4,g/dL,2.7-4.4,NaN,2014-06,annual,antech
2,grls007MPNZZ,0,Clinical Chemistry,Globulin,2.2,g/dL,1.6-3.6,NaN,2014-06,annual,antech
3,grls007MPNZZ,0,Clinical Chemistry,Albumin:Globulin Ratio,1.5,Ratio,0.8-2.0,NaN,2014-06,annual,antech
4,grls007MPNZZ,0,Clinical Chemistry,AST,25,U/L,15-66,NaN,2014-06,annual,antech

In [16]:
#Import Endocrine Conditions dataset
endo_path = 'Data/conditions_endocrine.csv'

endo = pd.read_csv(endo_path, low_memory=False)

In [17]:
endo.head()

,subject_id,relationship_category,year_in_study,record_date,to_date,any,addisons_disease,autoimmune_thyroiditis,cushings_disease,diabetes_insipidus,diabetes_mellitus,hyperadrenalestrogenism,hypercalcemia,hypothyroidism,pancreatic_insufficiency,other,other_specify
0,grls007MPNZZ,DOG,0,"2014-06,2014-08,2015-01,2015-03",0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,grls007MPNZZ,DOG,0,NaN,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,grls007MPNZZ,DOG,1,"2015-05,2015-08,2015-09",0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,grls007MPNZZ,DOG,1,NaN,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,grls007MPNZZ,DOG,2,"2016-06,2016-08",0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [18]:
#Import Skin Conditions dataset
derm_path = 'Data/conditions_skin.csv'

derm = pd.read_csv(derm_path, low_memory=False)

In [19]:
derm.head()

,subject_id,relationship_category,year_in_study,record_date,to_date,any,allergic_reaction,alopecia,anal_sac_gland_disorder,angioedema,...,undiagnosed_skin_mass,vaccine_reaction,histiocytoma,hemangioma,lipoma,sebaceous_adenoma,perianal_adenocarcinoma,epidermoid_cyst,other,other_specify
0,grls007MPNZZ,DOG,0,"2014-06,2014-08,2015-01,2015-03",0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,grls007MPNZZ,DOG,0,NaN,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,grls007MPNZZ,DOG,1,"2015-05,2015-08",0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,grls007MPNZZ,DOG,1,NaN,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,grls007MPNZZ,DOG,2,"2016-06,2016-08",0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [20]:
#Import Profile dataset
profile_path = 'Data/dog_profile.csv'

profile = pd.read_csv(profile_path, low_memory=False)

In [21]:
profile.head()

     subject_id     sex_status birth_date enrolled_date
0  grls007MPNZZ  Neutered Male    2013-03       2014-06
1  grls00NB23WW  Spayed Female    2012-01       2014-01
2  grls01C2L8RR  Spayed Female    2014-02       2014-08
3  grls01LNL888  Spayed Female    2012-08       2013-10
4  grls01RDAKNN  Spayed Female    2014-05       2015-01

In [22]:
#Import medications dataset
meds_path = 'Data/medications.csv'

meds = pd.read_csv(meds_path, low_memory=False)

In [23]:
meds.head()

,subject_id,year_in_study,record_date,dose,dose_unit,dose_unit_specify,duration,duration_unit,frequency,frequency_specify,specify_days,specify_hours,administration_method,administration_method_specify,status,medication_ingredients,any_medications
0,grls007MPNZZ,0.0,2014-06,1,"Other, specify",based on weight (50-100 lbs),Continuous,Not applicable,"Q (Days), specify",NaN,30.0,NaN,NaN,NaN,NaN,"Lufenuron, Milbemycin Oxime",1
1,grls007MPNZZ,0.0,2014-06,1,"Other, specify",tube,Continuous,Not applicable,"Q (Days), specify",NaN,30.0,NaN,NaN,NaN,NaN,"Fipronil, (S)-Methoprene",1
2,grls007MPNZZ,0.0,2014-06,3-5,Drops,NaN,10,Days,SID,NaN,NaN,NaN,NaN,NaN,NaN,"Ear Medication with Steroid - Clotrimazole, Ge...",1
3,grls007MPNZZ,0.0,2014-08,1,Units,NaN,10,Days,SID,NaN,NaN,NaN,NaN,NaN,NaN,"Ear Medication with Steroid - Clotrimazole, Ge...",1
4,grls007MPNZZ,0.0,2014-08,1,"Other, specify",tablet/pill/capsule,Continuous,NaN,Other specify,monthly,NaN,NaN,NaN,NaN,NaN,"Lufenuron, Milbemycin Oxime, Praziquantel",1

In [26]:
#Import Study Endpoints dataset
endpoints_path = 'Data/study_endpoints.csv'

cod = pd.read_csv(endpoints_path, low_memory=False)

In [27]:
cod.head()

,subject_id,year_in_study,diagnosis_year_month,tracked_condition,phenotype,status,tier_of_confidence,is_cause_of_death,is_recurrence,is_adjudicated
0,grls00NB23WW,3,2017-09-00,Bloat with torsion,NaN,final,1,1,0,1
1,grls01C2L8RR,7,2022-05-00,Hemangiosarcoma - other/not specified,NaN,final,1,1,0,1
2,grls020IW1ZZ,6,2021-12-00,Brain tumor,NaN,presumptive,3,1,0,0
3,grls02VDCV99,2,2015-07-00,Mast cell tumor - cutaneous,2_low,final,1,0,0,1
4,grls03MTKHLL,7,2021-05-00,Histiocytic sarcoma,NaN,final,1,1,0,1